<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
<div>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label >Artista: {{artist.name}}</label>
    </div>
    <div class="form-group">
      <label >Album: {{album.title}}</label>
    </div>
    <div class="form-group">
      <a routerLink="/albums" class="btn btn-primary">Albums</a>
      <input type="button" class="btn btn-primary m-1" value="Agregar" (click)="addTrack()" *ngIf="menuOptionTrack.insertar">
    </div>
  </form>
</div>
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">Compositor</th>
        <th scope="col">Duración</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks">
        <td scope="row">{{track.name}}</td>
        <td scope="row">{{track.genre}}</td>
        <td scope="row">{{track.composer}}</td>
        <td scope="row">{{track.duration / 60000 | number:'1.0-2'}}min</td>
        <td *ngIf="menuOptionTrack.eliminar"><input type="button" value="Eliminar" class="btn btn-primary btn-sm btn-danger" (click)="deleteTrack(track)"></td>
      </tr>
    </tbody>
  </table>
</div>